<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mbta_live.mobile" version="2.25" xmlns="http://www.w3.org/ns/widgets">
  <name>MBTA Live</name>
  <description>MBTA Live tracker that does not pull any user data unlike other apps on the market.</description>
  <author>Dylan Sabo</author>
  <preference name="phonegap-version" value="cli-7.1.0" />
  <preference name="permissions" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />

  <plugin name="cordova-plugin-inappbrowser" spec="1.3.0" />
  <plugin name="cordova-plugin-device" spec="1.1.2" />
  <plugin name="cordova-plugin-splashscreen" spec="3.2.2" />
  <icon density="ldpi" src="drawable-ldpi-icon.png" />
  <icon density="mdpi" src="drawable-ldpi-icon.png" />
  <icon density="hdpi" src="drawable-ldpi-icon.png" />
  <icon density="xhdpi" src="drawable-ldpi-icon.png" />
  <icon density="xxhdpi" src="drawable-ldpi-icon.png" />
  <icon density="xxxhdpi" src="drawable-ldpi-icon.png" />
</widget>
